[submodule ".registry"]
	path = .registry
	url = https://github.com/program--/universe
	branch = HEAD
[submodule "HSClientR"]
	path = HSClientR
	url = https://github.com/program--/hsclientr
[submodule "fipio"]
	path = fipio
	url = https://github.com/program--/fipio
[submodule "hilbert"]
	path = hilbert
	url = https://github.com/program--/hilbert
[submodule "logdec"]
	path = logdec
	url = https://github.com/program--/logdec
